<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="header-light regular-pad">Services</h2>
      <p>
        If you need professional assistance with the planning, design, development and/or evaluation of real-time systems built with SocketCluster, feel free to get in touch with us.
      </p>
      <p>
        Each consultant listed on this page is an expert in real-time systems and has made significant contributions to the SocketCluster project.
        Some of the services we offer around real-time systems include:
      </p>
      <ul>
        <li>Development of custom chat applications (including chatbots)</li>
        <li>Development of simple multi-player games</li>
        <li>Security and performance reviews of existing systems</li>
        <li>Development of WebSocket-based REST/CRUD APIs</li>
        <li>Integration with native mobile apps</li>
        <li>Consulting related to architecture planning</li>
        <li>Consulting and development related to deployment, infrastructure and scalability (specialising in Docker, Kubernetes, Rancher and AWS)</li>
        <li>DevOps/ongoing infrastructure management</li>
        <li>Migration from third-party pub/sub services to your own SocketCluster-based services</li>
        <li>Technical support</li>
        <li>Tutoring</li>
      </ul>
      <div class="consultant-list-container">
        <h3 class="header-light regular-pad">Consultants</h3>
        <div class="consultant-container">
          <h4 class="header-light">Jonathan Gros-Dubois&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/jondubois">GitHub</a></h4>
          <p class="consultant-paragraph">
            Jon has has worked as a software engineer for a variety of companies (both large and small) in a range of industries including
            mobile food ordering, manufacturing/prototyping, finance, TV hardware, education, gambling and online freelance work platforms. He has been exposed to a broad range
            of project management styles, software architectures and deployment pipelines. He created SocketCluster 3 years ago to help
            developers build simpler real-time systems that can efficiently run on modern multi-core CPUs and across multiple hosts.
          </p>
        </div>
        <div class="consultant-container">
          <h4 class="header-light">Sachin Shinde&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/sacOO7">GitHub</a></h4>
          <p class="consultant-paragraph">
            Sachin is a full stack developer who has created several <a href="https://github.com/SocketCluster/client-drivers#list-of-clients">official native clients</a> for SocketCluster.
            He is the expert when it comes to integrating native mobile apps with SocketCluster.
            Sachin has worked extensively on Android and web app development. He likes to explore new technologies and has a
            zeal for facing challenges and building stuff that makes life easier.
          </p>
        </div>
      </div>
      <p class="final-paragraph get-in-touch-paragraph">
        Please send us your requirements through Baasil.io (our commercial platform) and we will get in touch with you shortly:
        <a href="https://baasil.io/#!/contact-us">Click here to contact us</a>.
      </p>
    </div>
  </div>
</div>
