/* your custom css */

.mainContainer {
  padding-top: 30px;
  padding-bottom: 0;
}

.postHeader h1 {
  margin-top: 0;
}

.blockHeading {
  margin-top: 0;
}

.imageAlignTop .blockImage {
  margin-top: 30px;
  margin-bottom: -20px;
}

.container.paddingTop {
  padding-top: 20px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  line-height: 1.5;
  background: #2b3137;
}

.projectTitle {
  color: #FFFFFF;
}

.projectTitle small {
  line-height: 1.2;
}

h1 small {
  font-size: 0.6em;
}

.promoRow .button {
  color: #FFFFFF;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border-width: 2px;
}

.promoRow .buttonWrapper {
  margin-right: 5px;
}

.splashSubsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 180px;
  width: 100%;
  color: #FFFFFF;
  font-size: 24px;
  background: #20232A;
}

.splashSubsectionItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.splashSubsectionLink {
  color: #FFFFFF;
}

.splashSubsectionLink :hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.splashSubsectionLink :visited {
  color: #FFFFFF;
}

.splashSubsectionCaption {
  font-size: 22px;
  margin-bottom: 10px;
}

.splashLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.splashLogo {
  height: 70px;
  margin-right: 10px;
}

.titleLogo {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.footerPromoItem {
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 10px;
  font-size: 24px;
}

.footerPromoIcon {
  display: inline-block;
  height: 70px;
  width: 70px;
  vertical-align: middle;
  margin-right: 15px;
}

.footerPromoText {
  height: 100px;
  display: inline;
  vertical-align: middle;
  color: #FFFFFF;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
  .mainContainer {
    padding-top: 65px;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (max-width: 736px) {
  .footerPromoItem {
    margin-bottom: 0px;
  }

  .footerPromoIcon {
    height: 50px;
    width: 50px;
  }

  .footerPromoText {
    font-size: 18px;
  }

  .pluginRowBlock {
    flex-direction: column;
  }

  .pluginRowBlock .button {
    width: 200px;
    margin-bottom: 10px;
  }

  .splashSubsection {
    flex-direction: column;
  }

  .splashSubsectionCaption {
    /* display: none; */
    font-size: 18px;
    margin-bottom: 10px;
  }

  .splashLogo {
    margin: 0px;
  }

  .splashSubsectionItem {
    margin-left: 20px;
    margin-right: 20px;
  }
}
