/* your custom css */

.mainContainer {
  padding-top: 30px;
  padding-bottom: 0;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {

}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
  .mainContainer {
    padding-top: 65px;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (max-width: 736px) {
  .pluginRowBlock {
    flex-direction: column;
  }

  .pluginRowBlock .button {
    width: 200px;
    margin-bottom: 10px;
  }
}

.blockHeading {
  margin-top: 0;
}

.imageAlignTop .blockImage {
  margin-top: 30px;
  margin-bottom: -20px;
}

.container.paddingTop {
  padding-top: 20px;
}
