
.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
p {
  font-size: 16px;
}
a {
   -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
}

.get-started-button {
  dispay: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.jumbotron {
  padding-top: 38px;
  padding-bottom: 38px;
}

.chat-button {
  dispay: block;
  float: left;
}

.github-star-button-top {
  display: block;
  float: right;
  margin-top: 19px;
}

a:hover {
  text-decoration: none;
}
nav#docs {
  padding: 45px 0;
  font-size: 14px;
}
nav#docs ul {
  list-style: none;
  padding: 0;
}
nav#docs li {
  padding: 4px 0;
}
nav#docs a {
  font-weight: 500;
}
.docs-content {
  padding: 25px 0;
  font-size: 16px;
}
.docs-content h1 {
  margin-bottom: .8em;
  margin-top: .5em;
}
.docs-content h2 {
  font-size: 2em;
  margin-bottom: .8em;
  margin-top: .625em;
  padding-top: 1.1em;
}
.docs-content h3 {
  color: #666;
  font-size: 1.5em;
  margin-bottom: .8em;
  margin-top: 10px;
  padding-top: 15px;
}
.docs-content img {
  width: 100%;
  max-width: 696px;
  margin: 45px auto;
  display: block;
}
.navbar {
  height: 68px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.14);
  background-color: #FFFFFF;
}

.header-container {
  background: url('../img/cloud_mountain.jpg') no-repeat 50% 0;
  background-size: cover;
  background-position: center 35%;
}

.jumbotron h1 {
  font-size: 45px;
  font-weight: 400;
  color: #555;
  margin-bottom: 1.5em;
}
.navbar-brand {
  padding: 16px;
  height: 68px
}
.navbar-nav>li>a {
  margin-top:9px;
  margin-bottom: 9px;
}
.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
}
h2.large-pad {
  padding: 2em 0 0.75em 0;
}

h2.regular-pad {
  padding: 1em 0 0.75em 0;
}

h2.header-light {
  font-weight: 300;
  font-size: 34px;
  color: rgba(0,0,0,.54);
}

img.large-pad {
}

ul.features-list{

}
ul.features-list li {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 1.5em;
}

.row.large-pad {
  padding: 40px 0;
}

.row.regular-pad {
  padding: 10px 0;
}

.blue-row .container {
  max-width: 100%;
}

.jumbo-blue {
  background-image: none;
  background-color: #4B9ACA;
  color: #FFFFFF;
}

.jumbo-blue h2 {
  color: #FFFFFF;
}

.sc-server-img {
  width: 100%;
}
.features-list {
  padding: 0;
}
.features-list li {
  list-style-type: none;
  padding-top: 3px;
  background: url('../../assets/img/tick.png') no-repeat 0 2px;
  padding-left: 56px;
}
.community-label {
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  padding: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 94px;
}
.community-label img {
  margin: 0 auto;
  display: block;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sc-server-img {
    margin: 45px auto;
    max-width: 438px;
    width: 100%;
  }
}

@media (max-width: 769px) {
  .jumbotron h1 {
    font-size: 30px;
  }
  .sc-server-img {
    margin: 45px auto;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sc-server-img {
    max-width: 438px;
    width: 100%;
  }
}

.footer p {
  font-size: 14px;
}

.feel-demo {
  width: 100%;
  height: 300px;
}

.feel-demo-wrapper {
position: relative;
  margin-top: 30px;
  padding: 30px;
  border: 1px solid #dddddd;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.feel-it-header a:link,
.feel-it-header a:visited,
.feel-it-header a:hover,
.feel-it-header a:active {
  text-decoration: none;
}

.feel-demo-wrapper .col {
  margin-bottom: 10px;
}

.feel-demo-wrapper .row-add-channel {
  margin-top: 30px;
}

.feel-demo-wrapper .add-channel-label {
  line-height: 34px;
}

.feel-demo-wrapper .add-channel-error-wrapper {
  line-height: 34px;
}

.feel-demo-wrapper .add-channel-error {
  display: inline-block;
  line-height: 1.2em;
  color: #bb0000;
}

.feel-demo-wrapper .row-publish {
  margin-top: 30px;
}

@media screen and (min-width: 767px) {
  .feel-demo-wrapper .btn-publish {
    margin-top: 20px;
  }
}

.feel-demo-wrapper .row-connect-disconnect {
  margin-top: 30px;
}

.feel-demo-wrapper .btn-medium {
  width: 100%;
}

.feel-demo-wrapper .channel-name {
  line-height: 34px;
}

.feel-demo-wrapper .channel-name-label {
  display: inline-block;
  line-height: 1.2em;
}

.feel-demo-wrapper .socket-state {
  line-height: 34px;
}

@media screen and (max-width: 767px) {
  .feel-demo-wrapper .channels-row {
    margin-bottom: 10px;
  }
}

.page-index .header-technical-features {
  margin-bottom: 30px;
}

.list li {
  margin-bottom: 1em;
}

.user-logo {
  max-width: 195px;
  max-height: 60px;
  margin: 10px;
}

.user-logo-coinigy {
  max-height: 30px;
}

.user-logo-webaula {
  max-height: 40px;
}
